{% extends 'navbar.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
{% block extrahead %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static '/css/producto.css' %}">
    <link rel="stylesheet" href="{% static '/css/contenido.css' %}">

</head>
{% endblock extrahead%}

<body>
    {% block content %}


    <div class="content">

        <div class="product-details">
            <img class="product-image" src="{{ producto.Imagen.url }}" alt="Imagen del producto">
            <div class="product-info">
                <h2 class="product-name">{{producto.Nombre}}</h2>
                <h3>{{producto.Precio}}</h3>
                <p class="product-description">{{producto.Descripcion}}</p>
                <h2>unidades disponibles: {{producto.Unidades_disponibles}}</h2>
                <button class="buy-button">Comprar</button>
            </div>
        </div>
        <br><br><br>

        <div class="reviews">
            <div class="review">
                <p><strong>Usuario 1</strong></p>
                <p>¡Este producto es increíble!</p>
            </div>
            <div class="review">
                <p><strong>Usuario 2</strong></p>
                <p>¡Muy satisfecho con mi compra!</p>
            </div>
        </div>



        <div class="bot">


            <p>Informacion de contacto: 3155332080</p>
        </div>

    </div>
    {% endblock content%}
</body>

</html>