<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static '/css/producto.css' %}">
    <link rel="stylesheet" href="{% static '/css/contenido.css' %}">

</head>

<body>



    <div class="content">

        <div class="product-details">
            <img class="product-image" src="https://i.pinimg.com/550x/fd/29/03/fd2903f878e1ad3ece9baa80f53d57a7.jpg"
                alt="Imagen del producto">
            <div class="product-info">
                <h2 class="product-name">Camiseta para mujer</h2>
                <h3>$70000</h3>
                <p class="product-description">Descripción</p>
                <button class="buy-button">Comprar</button>
            </div>
        </div>
        <br><br><br>

        <div class="reviews">
            <div class="review">
                <p><strong>Usuario 1</strong></p>
                <p>¡Este producto es increíble!</p>
            </div>
            <div class="review">
                <p><strong>Usuario 2</strong></p>
                <p>¡Muy satisfecho con mi compra!</p>
            </div>
        </div>



        <div class="bot">


            <p>Informacion de contacto: 3155332080</p>
        </div>

    </div>

</body>
<script src="../JS/login.js"></script>
<script src="../JS/main.js"></script>

</html>