{% extends 'navbar.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<style>
    body {
        text-align: center;
    }

    h1 {
        color: blue;
        margin: 10px 0;
    }

    h2,
    h3 {
        color: black;
        margin: 10px 0;
    }
</style>
{% block extrahead %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/contenido.css' %}">


</head>
{% endblock extrahead%}

<body>

    {% block content %}
    <div class="content">
        <h1>producto</h1>
        <br><br>

        <h2>Nombre: {{producto.Nombre}}</h2>

        <h2>Descripcion: {{producto.Descripcion}}</h2>

        <h3>Precio: {{producto.Precio}}</h3>

        <h3>Unidades Disponibles: {{producto.Unidades_disponibles}}</h3>

        <img width="400" height="240" src="{{ producto.Imagen.url }}" alt="prenda3">
    </div>

    {% endblock content%}
</body>

</html>